body {
    display: flex;
    justify-content: center;
    background-color: #FEFBF6;
    color: #333;
  }
  .wrapper {
    width: 960px;
    max-width: 100%;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  header .site-info h1 {
    font-size: 2rem;
    color: #B67352;
    font-family: 'Pacifico', cursive;
  }
  .navbar {
    background-color: #8CB9BD;
    padding: 10px 0;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
  }
  
  .main {
    display: flex;
    margin-top: 20px;
  }
  .sidebar {
    width: 30%;
    background-color: #ECB159;
    padding: 20px;
  }
  .sidebar img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .main-content {
    width: 70%;
    padding: 0 20px;
  }
  .main-content article {
    margin-bottom: 20px;
  }
  
  .main-content img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 10px;
  }
  .main-content h2 {
    color: #B67352;
  }
  footer {
    text-align: center;
    padding: 20px;
    background-color: #FEFBF6;
    border-top: 1px solid #B67352;
  }
  .social-links {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.social-icon {
    font-size: 20px;
    color: #333; 
    margin-right: 10px;
    transition: opacity 0.3s;
    width: 25px;
    height: 25px;
}



.social-icon:hover {
    opacity: 0.7; /* Hiệu ứng khi hover */
}